<% if notice != nil %>
  <p id="notice" class="alert alert-success" role="alert">
    <%= notice %>
  </p>
<% end %>

<h1>Oh, the Places I've Been...</h1>

<div class = "text-center">
<%= link_to 'Add New Destination', new_destination_path, class: "btn button-newnew" %>
<br/>
</div>

<ul class="nav nav-pills" role="tablist">
  <li> <%= link_to "All", destinations_path %></li>
    <% @my_countries.each do |c| %>
      <li><%= link_to c.country, destinations_path(country: c.country)%></li>
    <% end %>
</ul>


<div class="row">
  <% @destinations.each do |destination| %>
    <div class="col-md-4">
      <div class="well text-center">
        <h3><%= "#{destination.city}, #{destination.country}" %></h3>
        <p><%= destination.description[0...150]%> ... <%= link_to "Read More", destination%></p>
        <p>
          <%= link_to "", destination, class: "glyphicon glyphicon-eye-open" %>
         <%= link_to "", edit_destination_path(destination), class: "glyphicon glyphicon-pencil" %>
          <%= link_to "", destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "glyphicon glyphicon-trash" %>
        </p>
      </div>
    </div>
  <% end %>
</div>

